/* # Front-end Style Guide

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700 */

:root {
  --base-primary: 25 97% 53%;
  --clr-primary: hsl(var(--base-primary));

  --base-background: 216 12% 8%;
  --clr-background: hsl(var(--base-background));

  --base-window-background: 213 19% 18%;
  --clr-window-background: hsl(var(--base-window-background));

  --base-font: 0 0% 100%;
  --clr-font: hsl(var(--base-font));

  --base-light-grey: 217 12% 63%;
  --clr-light-grey: hsl(var(--base-light-grey));

  --base-medium-grey: 216 12% 54%;
  --clr-medium-grey: hsl(var(--base-medium-grey));

  --font-family: "Overpass", sans-serif;
  --font-normal: 400;
  --font-bold: 700;
  --font-size: 15px;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-normal);
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-background);
  color: var(--clr-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  background: linear-gradient(
    to bottom,
    hsla(from var(--clr-medium-grey) h s l / 0.3),
    hsla(from var(--clr-medium-grey) h s l / 0.1)
  );
  border-radius: 12px;
  min-width: 300px;
  max-width: 400px;
  padding: 2rem;
  margin: 2rem;
}

.star-icon-container {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
  border-radius: 50%;
  background-color: hsla(from var(--clr-medium-grey) h s l / 0.2);
}
