/* # Front-end Style Guide

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700 */

:root {
  --base-primary: 25 97% 53%;
  --clr-primary: hsl(var(--base-primary));

  --base-background: 216 12% 8%;
  --clr-background: hsl(var(--base-background));

  --base-window-background: 213 19% 18%;
  --clr-window-background: hsl(var(--base-window-background));

  --base-white: 0 0% 100%;
  --clr-white: hsl(var(--base-white));

  --base-light-grey: 217 12% 63%;
  --clr-light-grey: hsl(var(--base-light-grey));

  --base-medium-grey: 216 12% 54%;
  --clr-medium-grey: hsl(var(--base-medium-grey));

  --font-family: "Overpass", sans-serif;
  --font-normal: 400;
  --font-bold: 700;
  --font-size: 15px;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-normal);
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-background);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  background: linear-gradient(
    to bottom,
    hsla(from var(--clr-medium-grey) h s l / 0.3),
    hsla(from var(--clr-medium-grey) h s l / 0.1)
  );
  border-radius: 12px;
  min-width: 250px;
  max-width: 300px;
  padding: 2rem;
  margin: 2rem;
}

.star-icon-container {
  justify-self: start;
}

.circle-background {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsla(from var(--clr-medium-grey) h s l / 0.2);
}

.description {
  color: var(--clr-light-grey);
}

.buttons {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.rate {
  background: none;
  border: none;
  color: var(--clr-light-grey);
  appearance: none;
  border-radius: 50%;
  margin: 0;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"] + label:hover {
  background-color: var(--clr-light-grey);
}

input[type="radio"]:checked + label {
  background-color: var(--clr-primary);
}

input[type="radio"]:focus + label {
  background-color: var(--clr-primary);
}

.submit {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: var(--clr-white);
  text-transform: uppercase;
  background-color: var(--clr-primary);
  font-weight: var(--font-bold);
  cursor: pointer;
}

.submit:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.hidden {
  display: none;
}

.select-msg {
  background-color: hsla(from var(--clr-medium-grey) h s l / 0.2);
  border-radius: 2rem;
  padding: 0.5rem 0.7rem;
  color: var(--clr-primary);
}

.thanks-title {
  font-size: x-large;
  padding-top: 1rem;
}

.thanks-description {
  color: var(--clr-light-grey);
  text-align: center;
}

.attribution {
  position: sticky;
  bottom: 0;
  font-size: x-small;
}

.attribution a {
  color: hsl(228, 45%, 60%);
}
